FirstSample/App1-Main.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "actions": {
    "Condition": {
      "type": "If",
      "expression": "@equals(body('LA-4-CheckJobStatus')['JobState'], 3)",
      "actions": {
        "Create_a_bitlink": {
          "runAfter": {
            "LA-5-Publish": [
              "Succeeded"
            ]
          },
          "type": "ApiConnection",
          "inputs": {
            "host": {
              "api": {
                "runtimeUrl": "https://logic-apis-westeurope.azure-apim.net/apim/bitly"
              },
              "connection": {
                "name": "@parameters('$connections')['bitly']['connectionId']"
              }
            },
            "method": "get",
            "path": "/shorten",
            "queries": {
              "longUrl": "@{body('LA-5-Publish')['PlayerUrl']}"
            }
          }
        },
        "LA-5-Publish": {
          "type": "Function",
          "inputs": {
            "body": {
              "AssetId": "@{body('LA-3-SubmitJob')['OutputAssetMESId']}"
            },
            "function": {
              "id": "/subscriptions/28a75405-95db-4d15-9a7f-ab84003a63aa/resourceGroups/test/providers/Microsoft.Web/sites/mediaservicesxp3/functions/LA-5-Publish"
            }
          },
          "runAfter": {}
        },
        "Send_an_email": {
          "runAfter": {
            "Create_a_bitlink": [
              "Succeeded"
            ]
          },
          "type": "ApiConnection",
          "inputs": {
            "body": {
              "Body": "Playback : @{body('Create_a_bitlink')['url']}\nThumbnail : @{body('LA-5-Publish')['PathUrl']}Thumbnail_000001.png",
              "Subject": "Video is encoded",
              "To": "xpouyat@microsoft.com"
            },
            "host": {
              "api": {
                "runtimeUrl": "https://logic-apis-westeurope.azure-apim.net/apim/office365"
              },
              "connection": {
                "name": "@parameters('$connections')['office365']['connectionId']"
              }
            },
            "method": "post",
            "path": "/Mail"
          }
        }
      },
      "runAfter": {
        "Until": [
          "Succeeded"
        ]
      }
    },
    "Create_blob": {
      "runAfter": {
        "LA-1-CreateEmptyAsset": [
          "Succeeded"
        ]
      },
      "type": "ApiConnection",
      "inputs": {
        "body": "@triggerBody()",
        "host": {
          "api": {
            "runtimeUrl": "https://logic-apis-westeurope.azure-apim.net/apim/azureblob"
          },
          "connection": {
            "name": "@parameters('$connections')['/subscriptions/28a75405-95db-4d15-9a7f-ab84003a63aa/providers/Microsoft.Web/locations/westeurope/managedApis/azureblob']['connectionId']"
          }
        },
        "method": "post",
        "path": "/datasets/default/files",
        "queries": {
          "folderPath": "@{body('LA-1-CreateEmptyAsset')['FolderPath']}",
          "name": "@{triggerOutputs()['headers']['x-ms-file-name']}"
        }
      }
    },
    "LA-1-CreateEmptyAsset": {
      "type": "Function",
      "inputs": {
        "body": {
          "FileName": "@{triggerOutputs()['headers']['x-ms-file-name']}"
        },
        "function": {
          "id": "/subscriptions/28a75405-95db-4d15-9a7f-ab84003a63aa/resourceGroups/test/providers/Microsoft.Web/sites/mediaservicesxp3/functions/LA-1-CreateEmptyAsset"
        }
      },
      "runAfter": {}
    },
    "LA-2-SyncAsset": {
      "type": "Function",
      "inputs": {
        "body": {
          "AssetId": "@{body('LA-1-CreateEmptyAsset')['AssetId']}"
        },
        "function": {
          "id": "/subscriptions/28a75405-95db-4d15-9a7f-ab84003a63aa/resourceGroups/test/providers/Microsoft.Web/sites/mediaservicesxp3/functions/LA-2-SyncAsset"
        }
      },
      "runAfter": {
        "Create_blob": [
          "Succeeded"
        ]
      }
    },
    "LA-3-SubmitJob": {
      "type": "Function",
      "inputs": {
        "body": {
          "AssetId": "@{body('LA-1-CreateEmptyAsset')['AssetId']}",
          "MESPreset": "H264 Multiple Bitrate 720p with thumbnail.json",
          "SummarizationDuration": "0.0"
        },
        "function": {
          "id": "/subscriptions/28a75405-95db-4d15-9a7f-ab84003a63aa/resourceGroups/test/providers/Microsoft.Web/sites/mediaservicesxp3/functions/LA-3-SubmitJob"
        }
      },
      "runAfter": {
        "LA-2-SyncAsset": [
          "Succeeded"
        ]
      }
    },
    "Until": {
      "type": "Until",
      "expression": "@greater(body('LA-4-CheckJobStatus')['JobState'], 2)",
      "limit": {
        "count": 60,
        "timeout": "PT1H"
      },
      "actions": {
        "LA-4-CheckJobStatus": {
          "type": "Function",
          "inputs": {
            "body": {
              "JobId": "@{body('LA-3-SubmitJob')['JobId']}"
            },
            "function": {
              "id": "/subscriptions/28a75405-95db-4d15-9a7f-ab84003a63aa/resourceGroups/test/providers/Microsoft.Web/sites/mediaservicesxp3/functions/LA-4-CheckJobStatus"
            }
          },
          "runAfter": {}
        }
      },
      "runAfter": {
        "LA-3-SubmitJob": [
          "Succeeded"
        ]
      }
    }
  },
  "parameters": {
    "$connections": {
      "defaultValue": {},
      "type": "Object"
    }
  },
  "triggers": {
    "When_a_file_is_created": {
      "recurrence": {
        "frequency": "Minute",
        "interval": 1
      },
      "metadata": {
        "A56BE8B37BAEFEF9!282842": "/Oslo Demo"
      },
      "type": "ApiConnection",
      "inputs": {
        "host": {
          "api": {
            "runtimeUrl": "https://logic-apis-westeurope.azure-apim.net/apim/onedrive"
          },
          "connection": {
            "name": "@parameters('$connections')['onedrive']['connectionId']"
          }
        },
        "method": "get",
        "path": "/datasets/default/triggers/onnewfile",
        "queries": {
          "folderId": "A56BE8B37BAEFEF9!282842"
        }
      }
    }
  },
  "contentVersion": "1.0.0.0",
  "outputs": {}
}