FirstSample/App1-CheckJob-Deploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "westcentralus",
        "westus2",
        "[resourceGroup().location]"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Delay": {
              "type": "Wait",
              "inputs": {
                "interval": {
                  "count": 15,
                  "unit": "Second"
                }
              },
              "runAfter": {}
            },
            "LA-3-CheckJobStatus": {
              "type": "Function",
              "inputs": {
                "body": {
                  "JobId": "@{triggerBody()['JobId']}"
                },
                "function": {
                  "id": "/subscriptions/28a75405-95db-4d15-9a7f-ab84003a63aa/resourceGroups/test/providers/Microsoft.Web/sites/LA-AMS/functions/LA-3-CheckJobStatus"
                }
              },
              "runAfter": {
                "Delay": [
                  "Succeeded"
                ]
              }
            },
            "Response": {
              "type": "Response",
              "inputs": {
                "statusCode": 200,
                "headers": {
                  "content-type": "application/json"
                },
                "body": {
                  "JobState": "@body('LA-3-CheckJobStatus')['JobState']"
                }
              },
              "runAfter": {
                "LA-3-CheckJobStatus": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {},
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "properties": {
                    "JobId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "JobId"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {}
      }
    }
  ],
  "outputs": {}
}